
.normal {
  display: flex;
  font-size: 30px;
  border-bottom: 5px solid black;
  padding: 20px 0;
  margin-bottom: 20px;
}

.left {
  flex: 1;
}

.show {
  display: block;
}

.hide {
  display: none;
}
